<h3>Girmeye çalıştınız alan admin yetkisi gerektirmektedir eğer admin iseniz çıkış yapıp admin olarak giriş yapın değilseniz Anasayfaya geri dönün</h3>
<hr>
<a asp-controller="Account" asp-action="Logout" class="btn btn-primary btn-sm">Çıkış Yap</a>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary btn-sm">Anasayfa</a>